<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>StablePass: 404</title>
      <!--Styles-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/404.css') }}">
      {% include '_styles.html' %}
      <!--end of Styles-->
   </head>
   <!--Navigation bar-->
   {% include '_navbar.html' %}
   <!--end of Navigation bar-->
   <section>
      <div class="FourZeroFourDiv">
         <h2 id="FourZeroFourDivHeader"> <strong>Sorry, the page you were looking for is not on this website!</strong></h2>
         <img src="https://media.giphy.com/media/26xBQSVMbdZCRctri/giphy.gif" style="margin-top: 20px; margin-bottom: 5px;" class="rounded mx-auto d-block" alt="Facepalm">
         <p><a href="https://giphy.com/gifs/merriam-webster-26xBQSVMbdZCRctri" style="text-decoration: none;">(Photo Credit of Giphy)</a></p>
      </div>
   </section>
   </body>
   <!--Footer-->
   {% include '_footer.html' %}
   <!--end of Footer-->
</html>