<div class="PasswordElements black AdvancedOptionsDiv">
   <div class="InnerPasswordElements">
      <h3 class="white-text" id="passwordreporttext"> Password Report </h3>
      <p>See detailed information about the password below. </p>
      <hr>
      <strong class="white-text">Password Plaintext</strong>
      <strong>
         <p id="PasswordPlaintextValue">-</p>
      </strong>
      <strong class="white-text">Password Strength</strong>
      <strong>
         <p id="PasswordStrengthtextValue">-</p>
      </strong>
      <strong class="white-text">SHA256 Hash</strong>
      <p id="SHA256HashValue">-</p>
      <strong class="white-text">MD5 Hash</strong> 
      <p id="MD5HashValue">-</p>
      <strong class="white-text">SHA1 Hash</strong> 
      <p id="SHA1HashValue">-</p>
      <strong class="white-text">SHA224 Hash</strong> 
      <p id="SHA224HashValue">-</p>
      <strong class="white-text">SHA384 Hash</strong> 
      <p id="SHA384HashValue">-</p>
      <strong class="white-text">SHA512 Hash</strong> 
      <p id="SHA512HashValue">-</p>
      <strong class="white-text">BLAKE2B Hash</strong> 
      <p id="BLAKE2BHashValue">-</p>
      <strong class="white-text">BLAKE2S Hash</strong> 
      <p id="BLAKE2SHashValue">-</p>
      <strong class="white-text">SHA3_224 Hash</strong> 
      <p id="SHA3_224HashValue">-</p>
      <strong class="white-text">SHA3_256 Hash</strong> 
      <p id="SHA3_256HashValue">-</p>
      <strong class="white-text">SHA3_384 Hash</strong> 
      <p id="SHA3_384HashValue">-</p>
      <strong class="white-text">SHA3_512 Hash</strong> 
      <p id="SHA3_512HashValue">-</p>
      <strong class="white-text">Password Characters</strong> 
      <table class="table table-sm">
         <tbody>
            <tr>
               <th scope="row">Lowercase Characters</th>
               <td id="LowecaseCharacters" >-</td>
            </tr>
            <tr>
               <th scope="row">Uppercase Characters</th>
               <td id="UppercaseCharacters" >-</td>
            </tr>
            <tr>
               <th scope="row">Symbol Characters</th>
               <td id="SymbolCharacters">-</td>
            </tr>
            <tr>
               <th scope="row">Number Characters</th>
               <td id="NumberCharacters">-</td>
            </tr>
         </tbody>
      </table>
      <strong class="white-text">Password Layout</strong>
      <div class="PasswordLayout">
         <ol id="passwordorderedlist" class="passwordorderedlist" ></ol>
         <p id="placeholderforgenerator">-</p>
      </div>
   </div>
</div>