<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>StablePass: About</title>
      <!--Styles-->
      {% include '_styles.html' %}
      <!--end of Styles-->
   </head>
   <!--Navigation bar-->
   {% include '_navbar.html' %}
   <!--end of Navigation bar-->
   <section>
      <div id="MainText">
         <h4 class="fw-bold" id="contactheader">About</h4>
         <p id="maintext">This password Generator has been created as part of a final year project at Bournemouth University for Cyber Security Management Student - Samuel Davies. &nbsp;</p>
         <p id="maintext-1">This tool is used to benefit society in the way that it creates passwords that are secure by three core values:</p>
         <ul>
            <li class="AboutFeatures"><strong>Complex Passwords:</strong>&nbsp;Combination of upper, lower, numerical and special characters.</li>
            <li class="AboutFeatures"><strong>Random Passwords: </strong>Passwords that are not known gramatically or within a dictionary.</li>
            <li class="AboutFeatures"><strong>Database Leak Protection: </strong>Passwords are generated if the plaintext for a password hash cannot be easily found online.</li>
         </ul>
      </div>
   </section>
   </body>
   <!--Footer-->
   {% include '_footer.html' %}
   <!--end of Footer-->
</html>