<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>StablePass: Contact</title>
      <!--Styles-->
      {% include '_styles.html' %}
      <!--end of Styles-->
   </head>
   <body>
      <!--Navigation bar-->
      {% include '_navbar.html' %}
      <!--end of Navigation bar-->
      <section>
         <div id="MainText">
            <h4 class="fw-bold" id="contactheader">Contact</h4>
            <p id="maintext">To provide feedback, report problems or any other general queries please contact me.</p>
            <a href='mailto:s5109747@bournemouth.ac.uk'><button class="btn btn-outline-primary" id="contactusbutton" type="button">Send an email</button></a>
         </div>
      </section>
   </body>
   <!--Footer-->
   {% include '_footer.html' %}
   <!--end of Footer-->
</html>