<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>StablePass: Check Password</title>
      <!--Styles-->
      {% include '_styles.html' %}
      <script src="{{ url_for('static', filename='Javascript/check_APIREQUEST.js')}}"></script>
      <!--end of Styles-->
   </head>
   <!--Navigation bar-->
   {% include '_navbar.html' %}
   <!--end of Navigation bar-->
   <!-- Modal HTML -->
   <div id="modalCenter" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Error</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
               <p> <strong> You didn't enter a password. </strong> <br> <br> Please make sure you enter a password to be checked.  </p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn Pressedbutton" style="background: rgb(50, 52, 55);" data-bs-dismiss="modal">Dismiss</button>
            </div>
         </div>
      </div>
   </div>
   <section class="main-elements">
      <div class="container">
         <div>
            <div>
               <h2 id="ToolText">Leaked Password Checker</h2>
               <div id="HolderforAlert_checking">
                  <div id="Alert" class="alert alert-warning d-flex align-items-center" role="alert">
                     <i class="fas fa-cog fa-spin"></i>
                     <div class="PasswordGenerating"> <strong style="margin-left:20px;">Please Wait - Hashes are being checked... </strong> </div>
                  </div>
               </div>
               <div id="PasswordElementsInput">
                  <div class="input-group">
                     <input autocomplete="off" class="form-control" type="text" id="PasswordInput_checking" placeholder="( Enter Your Password Here )">
                  </div>
               </div>
            </div>
            <!-- Form Start-->
            <form id="form">
               <button class="btn btn-primary" id="CheckerSubmitButton" style="background: rgb(50, 52, 55);">Check</button>
               <!-- Form Finish -->
            </form>
            <div>
               <h2 id="PasswordCheckerStatus"></h2>
               <p class="hidden" id="CheckPasswords"> <br> Consider Replacing this password with a <a style="text-decoration: none;" href="{{ url_for('home') }}">Generated Password.<br></a></p>
               <div class="text-center">
                  <button class="btn Showadvanceddetails text-center" id="Showadvanceddetails">Click Here to View Password Report ⯆</button>
               </div>
               <!-- -->
               {% include '_AdvancedOptionsElement.html' %}
            </div>
         </div>
      </div>
   </section>
   <section class="features-boxed">
      <div class="container">
         <section style="padding-top: 40px;">
            <div class="features-boxed" style="background: #313437; border-radius: 10px; margin-left: 0px; margin-right: 0px; padding: 20px 50px 20px 50px;">
               <h3 class="" style="color: white;">
                  <strong>  What is this Tool? </strong>
               </h3>
               <p style="color: white;">
                  This tool lets you check if your passwords are safe to use online.
                  <br><br>
                  You can use this tool to check if your password in hashed state can be 'unhashed' using online rainbow tables.
               </p>
               </ol> 
            </div>
         </section>
      </div>
   </section>
   </body>
   <!--Footer-->
   {% include '_footer.html' %}
   <!--end of Footer-->
</html>